#create-orphanage {
    display: flex;
    min-width: 100vh;
}

main {
    flex: 1;
}

.map-container {
    margin: 0 0 4rem;
}

.map-container .leaflet-container {
    border-radius: 20px 20px 0 0;
}

.map-container footer {
    background-color: #f5f8fa;
    border-radius: 0 0 20px 20px;
}

/* Borda do mapa  */
.map-container.no-info {
    border: 1px solid #e85858;
    box-shadow: 0 0 1rem #e85858;
}

/* Background do footer  */
.map-container footer.no-info {
    background-color: #ffe5e5;
}

/* Instrução do mapa  */
.map-container footer a.no-info {
    color: #ad1818;
}